body {
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(143, 143, 143);
  color: white;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
}

img {
  display: block;
  height: 550px;
  width: auto;
}

#img1 {
  margin-top: 40px;
  height: 400px;
  width: auto;
}

#img2 {
  position: relative;
  bottom: 75px;
}

#robo {
  width: 35%;
}

.btn {
  border: 2px solid white;
  color: white;
  border-radius: 6px;
  margin-bottom: 15px;
}

.hider {
  display:none;
}

.red {
  color: red;
  font-size: 22px;
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.animated {
  animation: bounce 10s infinite;
}

@keyframes bounce {
  0% {
    margin-left: 0%;
  }

  50% {
    margin-left: 75%;
  }

  100% {
    margin-left: 0%;
  }
}

#output {
  background-color: black;
  padding: 25px;
  font-size: 22px;
}